/* Reset de estilos para garantir consistência entre navegadores */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.3s; /* Adiciona uma transição suave de tamanho */
}


/* Aplicando a animação "jump" ao passar o mouse sobre os links do menu */
nav ul li a:hover {
    color: #95d7d9; /* Altera a cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
    font-size: 18px;
}

/* Estilizando o cabeçalho com um fundo de gradiente em cascata de cima para baixo */
/* Estilizando o cabeçalho com um fundo de gradiente em cascata de cima para baixo */
header {
    padding: 40px 20px 20px; /* Acrescente espaço acima do título */
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to bottom, #ffd11a, #eebd48, #a0ca60, #d7a6ee, #fb9124, #14ade1, #4c9e4c,  #fab6d6,  #ffd11a);
    background-size: 100% 200%; /* Aumenta o tamanho vertical do gradiente para criar o efeito de cascata */
    animation: cascade-background 5s linear infinite;
}


/* Definindo a animação para o fundo em cascata */
@keyframes cascade-background {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 -100%;
    }
}

/* Estilizando a logo */
.logo {
    max-width: 100%; /* Define uma largura máxima de 100% */
    height: auto; /* Permite que a altura seja ajustada automaticamente */
}


/* Estilizando o título do projeto no cabeçalho */
header h1 {
    font-family: 'SuaFonte', sans-serif;
    font-size: 36px;
    color: #4b1c08; /* Marrom */
}


/* Estilizando o menu de navegação no cabeçalho */
nav ul {
    list-style-type: none;
    padding: 0;
    animation: cascade-slide-in 1.5s ease forwards;
}

/* Estilizando os itens do menu */


nav ul li a {
    text-decoration: none;
    color: #fb9124; /* Laranja */
    font-weight: bold;
    font-size: 16px;
}

/* Definindo a animação de cascata para o menu de navegação no cabeçalho */
@keyframes cascade-slide-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav a {
    color: #e01473;
    text-decoration: none;
    
}

/* Estilo para o menu fixo */
.menu {
    position: fixed; /* Torna o menu fixo no topo */
    top: 0;
    left: 0;
    width: 100%;
    background: #4b1c08; /* Marrom */
    color: #fab6d6; /* Rosa */
    z-index: 1000; /* Garante que o menu fique sobre outros elementos */
}

/* Estilize os itens do menu */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 10; /* Adiciona um espaço no topo para acomodar o menu */
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffd11a; /* Amarelo */
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s; /* Adiciona uma transição suave de tamanho */
}

/* Efeito de escala ao passar o mouse */
.menu ul li a:hover {
    color: #eebd48; /* Bege */
    transform: scale(1.1);
}




/* Estilo das seções */
section {
    padding: 40px;
}

section h2 {
    color: #a0ca60; /* Verde claro */
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para as células do cabeçalho */
th {
    background-color: #140b2e; /* Cor de fundo para o cabeçalho */
    color: #f9fbf1; /* Cor do texto para o cabeçalho */
    padding: 10px;
    text-align: center;
}

/* Estilos para as células do corpo da tabela */
td {
    border: 1px solid #140b2e; /* Adiciona bordas para separar as células */
    padding: 10px;
    text-align: center;
}

/* Estilos para as linhas ímpares do corpo da tabela */
tbody tr:nth-child(odd) {
    background-color: #f9fbf1; /* Cor de fundo para as linhas ímpares */
}

/* Estilos para as células da segunda coluna (Início) */
td:nth-child(2) {
    color: #ffd11a; /* Cor amarela para as células da segunda coluna */
}

/* Estilos para as células da terceira coluna (Término) */
td:nth-child(3) {
    color: #eebd48; /* Cor bege para as células da terceira coluna */
}


/* Estilo do rodapé */
footer {
    background-color: #4b1c08; /* Marrom */
    color: #fab6d6; /* Rosa */
    text-align: center;
    padding: 20px;
}
